#container
{
	margin: 0 auto;
	width: 900px;
	background: #fff;
}

#header
{
	background: #ccc;
	padding: 20px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 900px;
	background: #346;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content-container
{
	float: left;
	width: 900px;
	background: #fff;
}

#content
{
	clear: left;
	float: left;
	width: 560px;
	padding: 20px 0;
	margin: 0 0 0 30px;
	display: inline;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

#content h2 { margin: 0; }

#aside
{
	float: right;
	width: 240px;
	padding: 20px 0;
	margin: 0 20px 0 0;
	display: inline;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

#aside h3 { margin: 0; }

#footer
{
	clear: both;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}

tr.d1 td {
	background-color: #CCCCCC; color: black;
}